@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
/* Navbar Styling */
body, div, nav, li, a {
    padding: 0;
    margin: 0;
    font-family: 'Patrick Hand';
    color: black;
}

div nav {
    background-color: #835151;
}

input, button {
    font-family: 'Patrick Hand';
    color: black;
}

.navbar-brand img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-right: 5px;
}
/* Slider Styling */
.carousel-item {
    height: 600px;
    text-shadow: 2px 2px 3px black;
}

/* Category Styling */
.category h1 {
    text-align: center;
    color: #835151;
}

.category-card {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.category-card .card {
    padding: 13px;
    text-align: center;
    border-radius: 50%;
}

.category-card .card img {
    width: 70px;
    margin: auto;
}

/* Special Offer Styling */
.special-offer {
    width: 1050px;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 15px lightgrey;
}

.special-offer img {
    width: 100%;
}

.special-offer:hover {
    transform: scale(1.01);
}

/* Popular Product Styling */
.popular-product h1 {
    text-align: center;
    color: #835151;
}

.popular-product-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.popular-product-card .card {
    margin: 15px auto;
} 

/* Testimony Styling */
.testimonies h1 {
    text-align: center;
    color: #835151;
}

.testimoni-people {
    width: 750px;
    margin: 20px auto;
}

/* Payment Styling */
.payment {
    display: flex;
    justify-content: center;
}

.payment img {
    width: 110px;
    height: 40px;
    filter: grayscale(1);
    margin: 10px 20px;
}

.payment img:hover {
    filter: grayscale(0);
}

/* Styling Footer */
.footer {
    margin-top: 20px;
    height: 100px;
    text-align: center;
    background-color: #835151;
    color: white;
    padding: 20px;
} 
